{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    {{parent()}} > 
        <a href="{{path('filrouge_project_list')}}">Projets</a> >
        <a href="{{path('filrouge_project_add')}}">Nouveau projet</a>
{% endblock breadcrumb %}

{% block left %}

    <div class="blockGeneral">
        <h2 class="icoProject">Projets</h2>
        <div class="blockContent">
            {{ form_start(projectForm) }}
                {{ form_errors(projectForm) }}
                <div>
                    <div>
                        <h4>{{ form_label(projectForm.name, "Nom du projet") }}</h4>
                        {{ form_widget(projectForm.name, { 'attr': {'class': ''} }) }}
                        {{ form_errors(projectForm.name) }}
                    </div>
                    <div>
                        <h4>{{ form_label(projectForm.name, "Etat du projet") }}</h4>
                        {{ form_widget(projectForm.status, { 'attr': {'class': ''} }) }}
                    </div>
                </div>
                <div>
                    <div>
                        <h4>{{ form_label(projectForm.startDate, "Date de début") }}</h4>
                        {{ form_widget(projectForm.startDate, { 'attr': {'class': ''} }) }}
                        {{ form_errors(projectForm.startDate) }}
                    </div>
                    <div>
                        <h4>{{ form_label(projectForm.endDate, "Date de fin") }}</h4>
                        {{ form_widget(projectForm.endDate, { 'attr': {'class': ''} }) }}
                        {{ form_errors(projectForm.endDate) }}
                    </div>
                </div>
                <h4>{{ form_label(projectForm.projectManager, "Chef de projet") }}</h4>
                {{ form_widget(projectForm.projectManager, { 'attr': {'class': ''} }) }}
                {{ form_errors(projectForm.projectManager) }}
                <h4>{{ form_label(projectForm.purpose, "Objectif") }}</h4>
                {{ form_widget(projectForm.purpose, { 'attr': {'class': ''} }) }}
                {{ form_errors(projectForm.purpose) }}
                <h4>{{ form_label(projectForm.description, "Description") }}</h4>
                {{ form_widget(projectForm.description, { 'attr': {'class': ''} }) }}
                <h4>{{ form_label(projectForm.steps, "Avancement du projet") }}</h4>
                
                {{ form_widget(projectForm.steps) }}
            {{ form_end(projectForm) }}
        </div>    
    </div>
    
{% endblock left %}


{% block javascripts %}
    {{parent()}}
    <script  type="text/javascript" src="{{ asset('bundles/app/js/step-project.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/app/js/skill-project.js') }}"></script>
{% endblock %}

