{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    {{parent()}} > 
        <a href="{{path('filrouge_project_list')}}">Projets</a> >
        {% if project.id is defined %}
            <a href=" {{path('filrouge_project_update', {'id': project.id } )}} ">Modifer {{project.name}}</a>
        {% else %}
            <a href="{{path('filrouge_project_add')}}">Nouveau projet</a>
        {% endif%}
{% endblock breadcrumb %}

{% block left %}

    <div class="blockGeneral">
        <h2 class="icoProject">Projets</h2>
        <div class="blockContent">
            <div id="formProject">
                {{ form_start(projectForm) }}
                    {{ form_errors(projectForm) }}

                    <div class="nameProject">
                        <h4>{{ form_label(projectForm.name, "Nom du projet") }}</h4>
                        {{ form_widget(projectForm.name) }}
                        {{ form_errors(projectForm.name) }}
                    </div>
                    <div class="statusProject">
                        <h4>{{ form_label(projectForm.name, "Etat du projet") }}</h4>
                        {{ form_widget(projectForm.status) }}
                    </div>
                    <div class="clear"></div>
                    <div class="startDateProject">
                        <h4>{{ form_label(projectForm.startDate, "Date de début") }}</h4>
                        {{ form_widget(projectForm.startDate) }}
                        {{ form_errors(projectForm.startDate) }}
                    </div>
                    <div class="endDateProject">
                        <h4>{{ form_label(projectForm.endDate, "Date de fin") }}</h4>
                        {{ form_widget(projectForm.endDate) }}
                        {{ form_errors(projectForm.endDate) }}
                    </div>
                    <div class="clear"></div>


                    <h4>{{ form_label(projectForm.projectManager, "Chef de projet") }}</h4>
                    {{ form_widget(projectForm.projectManager, { 'attr': {'class': 'managerProject'} }) }}
                    {{ form_errors(projectForm.projectManager) }}
                    <h4>{{ form_label(projectForm.purpose, "Objectif") }}</h4>
                    {{ form_widget(projectForm.purpose, { 'attr': {'class': 'purposeProject'} }) }}
                    {{ form_errors(projectForm.purpose) }}
                    <h4>{{ form_label(projectForm.description, "Description") }}</h4>
                    {{ form_widget(projectForm.description, { 'attr': {'class': 'descriptionProject'} }) }}
                    
                    <h4>{{ form_label(projectForm.projectSkills, "Compétences requises") }}</h4>
                    {{ form_widget(projectForm.projectSkills) }}
                    
                    <h4>{{ form_label(projectForm.steps, "Avancement du projet") }}</h4>
                    {{ form_widget(projectForm.steps) }}
                {{ form_end(projectForm) }}
                <div class="clear"></div>
            </div>
   
            <div id="myMember">
                {% if project.projectMembers is defined %} 
                <h4>Membres du projet</h4>
                    {% for member in project.projectMembers %}
                        <div class="projectMember">
                            <div class="nameMember">
                                {{member.user.firstName}} {{member.user.LastName}}
                            </div>
                            <div class="skillMember">
                                {{member.skill}}
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    {% endfor %}
                {% endif %}
            </div>    
        </div>    
    </div>
    
{% endblock left %}


{% block javascripts %}
    {{parent()}}
    <script  type="text/javascript" src="{{ asset('bundles/app/js/step-project.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/app/js/skill-project.js') }}"></script>
{% endblock %}

