{%for comment in comments %}
    <div class="oneComment">
        <div class="content">
            <p class="txt">{{comment.content}}</p>
            <p>{{comment.author.lastName|upper}} {{comment.author.firstName}} - Le {{comment.creationDate|date('d/m/Y H:i')}}</p>
        </div>
        {% if app.user.id == comment.author.id or is_granted('ROLE_ADMIN') or app.user.id == project.projectManager.id %}
            <div class="status">
                <a href="{{path('filrouge_project_updateComment', {'id': project.id, 'idComment': comment.id, 'page': page })}}">
                    <img alt="Modifier le commentaire" src="{{asset('bundles/app/images/modify.png')}}" />
                </a>
                <a href="{{path('filrouge_project_removeComment', {'id': project.id, 'idComment': comment.id, 'page': page })}}">
                    <img alt="Supprimer le commentaire" src="{{asset('bundles/app/images/delete.png')}}" />
                </a>
            </div>
        {% endif %}
        <div class="clear"></div>
    </div>
{% endfor %}
