<div class="collapsible" id="section{{loop.index}}">
    <div class="ico">
        <span></span> 
    </div>
    <div class="name">
        {{project.name}}
    </div>
    <div class="information">
        {% if myProject is defined %}
            {% if  app.user.id == project.projectManager.id %}
                Chef de projet
            {% else %}
                Membre du projet
            {% endif %}               
        {% else %}    
            {% if  project.projectSkills|length != 0 %}
                Recrute :
                {% for projectSkill in project.projectSkills %}
                    {% if projectSkill.active %}
                        {% if loop.index < 5 %}
                            {{projectSkill.skill.name}} /
                        {% elseif loop.index == 5 %}
                            ...
                        {% endif %}  
                    {% endif %}
                {% endfor %}
            {% else %}
                Recrutement terminé
            {% endif %}
        {% endif %}
    </div>
    <div class="status">
        {% if project.status.name == 'En attente' %}
            <h5 class="orangeRight">{{project.status.name}}</h5>
        {% elseif project.status.name == 'En cours' %}
            <h5 class="greenRight">{{project.status.name}}</h5>
        {% elseif project.status.name == 'Terminé' %}
            <h5 class="redRight">{{project.status.name}}</h5>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>

<div class="container">
    <div class="content"> 
        <div class="bodyBlock">
            <h4>Objectif</h4>
            {{project.purpose}}
            <div class="dateProject">
                <div class="startDate">
                    <h4>Date de début</h4>
                    {{project.startDate|date('d/m/Y')}} 
                </div>
                <div class="endDate">
                    <h4>Date de fin</h4>
                    {{project.endDate|date('d/m/Y')}}
                </div>
                <div class="clear"></div>
            </div>     
            {% if  project.projectSkills|length != 0 %}
                <h4>Compétences manquantes</h4>
                {% for projectSkill in project.projectSkills %}
                     {% if projectSkill.active %}
                        {{projectSkill.skill.name}} /
                     {% endif %}
                {% endfor %}
            {% else %}
                <h4>Recrutement terminé</h4>
            {% endif %} 
            <div class="projectSeeMore">
                {% if app.user.id == project.projectManager.id %} 
                    <a href=" {{path('filrouge_project_update', {'id': project.id } )}} " class="btnAction">Gérer mon projet</a>  
                {% else %}
                    <a href=" {{path('filrouge_project_detail', {'id': project.id } )}} " class="btnAction">Voir la fiche projet</a>
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
