{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    {{parent()}} > 
        <a href="{{path('filrouge_project_list')}}">Projets</a> >
        <a href="{{path('filrouge_project_detail', {'id': project.id } )}}">{{project.name}}</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
            <h2 class="icoProject">Projet</h2>
        <div class="blockContent">
            <div class="headerBlock">
                <div class="name">
                    <h3>{{project.name}}</h3>
                </div>
                <div class="status">
                    {% if project.status.name == 'En attente' %}
                        {{project.status.name}}
                        <img alt="Voir plus d'informations" src="{{asset('bundles/app/images/status_orange.png')}}" />
                    {% elseif project.status.name == 'En cours' %}
                        {{project.status.name}}
                        <img alt="Voir plus d'informations" src="{{asset('bundles/app/images/status_green.png')}}" />
                    {% elseif project.status.name == 'Terminé' %}
                        {{project.status.name}}
                        <img alt="Voir plus d'informations" src="{{asset('bundles/app/images/status_red.png')}}" />
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="bodyBlock"> 
                <h4>Date de début</h4>
                {{project.startDate|date('d/m/Y')}} 
                <h4>Date de fin</h4>
                {{project.endDate|date('d/m/Y')}}
                <h4>Chef de projet</h4>
                {{project.projectManager.firstName}} {{project.projectManager.lastName}}
                <h4>Objectif</h4>
                {{project.purpose}}
                <h4>Description</h4>
                {{project.description}}
                
                <h4>Compétences manquantes</h4>
                {% for projectSkill in project.projectSkills %}
                    <div class="projectSkill">
                        <div class="name">
                            {{projectSkill.skill.name}}
                        </div>
                        <div class="action">
                        {% if projectSkill.active %}
                            <a href="#" class="btnAction">> Postuler</a>
                        {% else %}    
                            Recruté
                        {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>
                        
                {% endfor %}
                
                <h4>Avancement du projet</h4>
                {% for step in project.steps %}
                    <div class="projectStep">
                        <div class="name">
                            {{step.name}}
                        </div>
                        <div class="action">
                            {% if project.status.name == 'En attente' %}
                                <div class="onHold">
                                    {{step.status.name}}
                                </div>
                            {% elseif project.status.name == 'En cours' %}
                                <div class="inProgress">
                                    {{step.status.name}}
                                </div>
                            {% elseif project.status.name == 'Terminé' %}
                                <div class="finish">
                                    {{step.status.name}}
                                </div>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
                
                <h4>Membres du projet</h4>
                {% for member in project.projectMembers %}
                    <div class="projectMember">
                        <div class="nameMember">
                            {{member.user.firstName}} {{member.user.LastName}}
                        </div>
                        <div class="skillMember">
                            {{member.skill}}
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                {% endfor %}    
            </div>
        </div>    
    </div>
    <div class="projectUpdate">
       <a href=" {{path('filrouge_project_update', {'id': project.id } )}} " class="btnAction">> Modifier mon projet</a>
    </div>
     
{% endblock left %}
