{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{parent()}}{{project.name}}{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > 
        <a href="{{path('filrouge_project_list')}}">Projets</a> >
        <a href="{{path('filrouge_project_detail', {'id': project.id } )}}">{{project.name}}</a>
{% endblock breadcrumb %}

{% block left %}
    <div class="blockGeneral" id="projectDetail">
        <div class="fixeTitle">
            <h2 class="icoProject">Projet</h2>
            {% if app.user.id == project.projectManager.id %} 
                <div class="projectUpdate">
                   <a href=" {{path('filrouge_project_update', {'id': project.id } )}} " class="btnAction">
                       gérer mon projet
                   </a>
                </div>
            {% endif %}
        </div>
        <div class="blockContent">
            <div class="headerBlock">
                <div class="name">
                    <h3>{{project.name}}</h3>
                </div>
                <div class="status">
                    {% if project.status.name == 'En attente' %}
                        <h5 class="orangeRight">{{project.status.name}}</h5>
                    {% elseif project.status.name == 'En cours' %}
                        <h5 class="greenRight">{{project.status.name}}</h5>
                    {% elseif project.status.name == 'Terminé' %}
                        <h5 class="redRight">{{project.status.name}}</h5>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="bodyBlock">
                <div class="dateProject">
                    <div class="startDate">
                        <h4>Date de début</h4>
                        {{project.startDate|date('d/m/Y')}} 
                    </div>
                    <div class="endDate">
                        <h4>Date de fin</h4>
                        {{project.endDate|date('d/m/Y')}}
                    </div>
                    <div class="clear"></div>
                </div>
                <h4>Chef de projet</h4>
                <a href=" {{path('filrouge_user_detail', {'id': project.projectManager.id } )}}" class="hrefBody">
                    {{project.projectManager.lastName|upper}} {{project.projectManager.firstName}}
                </a>
                <h4>Objectif</h4>
                {{project.purpose}}
                <h4>Description</h4>
                {{project.description}}
                {% if (project.projectSkills|length !=0) %}
                    <h4>Compétences recherchées</h4>
                    {% for projectSkill in project.projectSkills %}
                        <div class="projectSkill">
                            <div class="name">
                                {{projectSkill.skill.name}}
                            </div>
                            <div class="action">
                            {% if projectSkill.active %}
                                {% if (projectSkill.applicants|length !=0) %}
                                    {% if app.user.id in projectSkill.applicants %}
                                        <div class="validateOnHold">   
                                            candidature envoyée
                                        </div>
                                    {% else %}    
                                        <a href=" {{path('filrouge_project_apply', {'id': project.id, 'idProjectSkill': projectSkill.id } )}}" class="btnAction">
                                            postuler
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href=" {{path('filrouge_project_apply', {'id': project.id, 'idProjectSkill': projectSkill.id } )}}" class="btnAction">
                                        postuler
                                    </a>
                                {% endif %}     
                            {% else %}
                                <div class="finish">
                                    recruté
                                </div>
                            {% endif %}
                            </div>
                            {% if  message is defined and skillName == projectSkill.skill.name %}
                            <div class="postulate">  
                                Votre candidature a bien été envoyée  
                            </div>
                            {% endif %}
                            <div class="clear"></div>
                        </div>         
                    {% endfor %}
                {% else %}
                    <p>Aucune compétence demandée pour ce projet</p>
                {% endif %}
                <h4>Avancement du projet</h4>
                {% if (project.steps|length !=0) %}
                    {% for step in project.steps %}
                        <div class="projectStep">
                            <div class="name">
                                {{step.name}}
                            </div>
                            <div class="action">
                                {% if step.status.name == 'En attente' %}
                                    <div class="onHold">
                                        {{step.status.name|lower}}
                                    </div>
                                {% elseif step.status.name == 'En cours' %}
                                    <div class="inProgress">
                                        {{step.status.name|lower}}
                                    </div>
                                {% elseif step.status.name == 'Terminé' %}
                                    <div class="finish">
                                        {{step.status.name|lower}}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucune étape n'est renseignée pour ce projet.</p>
                {% endif %}     
                <h4>Membres du projet</h4>
                {% if (project.projectMembers|length !=0) %}
                    {% set cpt = true %}
                    {% for member in project.projectMembers %} 
                        {% if member.active %}
                            {% set cpt = false %}
                            <div class="projectMember">
                                <div class="nameMember">
                                    <a href=" {{path('filrouge_user_detail', {'id': member.user.id } )}}" class="hrefBody">
                                        {{member.user.lastName|upper}} {{member.user.firstName}}
                                    </a>
                                </div>
                                <div class="skillMember">
                                    {{member.skill.name}}
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        {% else %} 
                            {% if cpt %}   
                                <p>Des candidats ont postulé à ce projet.</p>
                                {% set cpt = false %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Aucun membre n'a rejoint ce projet.</p>
                {% endif %}
            </div>
        </div>     
        {% set cptComment = 0 %}
        {% for member in project.projectMembers %}
            {% if (member.user.id == app.user.id and cptComment == 0 and member.active) or (app.user.id == project.projectManager.id and cptComment == 0) or (is_granted('ROLE_ADMIN') and cptComment == 0) %} 
                {% set cptComment = 1 %} 
                <div id="commentProject">
                    <h4>Commentaires</h4>
                    <div class="contentCommentProject">
                        <div class="formComment">
                            <h4>Ecrire un commentaire</h4>
                            {{ form_start(commentForm) }}
                                {{ form_widget(commentForm.content) }}
                                {{ form_errors(commentForm.content) }}
                            {{ form_end(commentForm) }}
                            <div class=clear></div>
                        </div>
                        {{ render(controller('AppBundle:Comment:list', {'id': project.id, 'page': 'detail'})) }}  
                    </div>
                </div>
            {% endif %}
        {% endfor %}    
    </div>
{% endblock left %}
