{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    {{parent()}} > <a href="{{path('filrouge_project_list')}}">Projets</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoSearch">Rechercher un projet</h2>
        <div class="clear"></div>
        <div class="blockContent">
            Bla bla bla...
        </div>
    </div>
    
    <div class="blockGeneral">
        <h2 class="icoProject">Tous les Projets</h2>
        <div class="clear"></div>
        <div class="blockContent">
            {% for project in projects %}
                {% include('AppBundle:Project:layoutproject.html.twig') %}
            {% endfor %}
            <div class="pagination">
                <img alt="Page précédente" src="{{asset('bundles/app/images/pag_before.png')}}" />
                <img alt="Page suivante" src="{{asset('bundles/app/images/pag_after.png')}}" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="projectNew">
        <a href="{{path('filrouge_project_add')}}" class="btnAction">> Créer un nouveau projet</a>
    </div>
      
{% endblock left %}