{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{parent()}}Administration{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > <a href="{{path('filrouge_admin_list')}}">Administration</a>
{% endblock breadcrumb %}

{% block left %}  
    <div class="blockGeneral" id="adminSkill">
        <h2 class="icoSkill">Toutes les compétences</h2>
        <div class="blockContent">
            {% if messageSkill is defined %}
                <span class="message">{{ messageSkill }}</span>
            {% endif %}
            <div id="formSkill">
                <h4>Ajouter une compétence</h4>
                {{ form_start(skillForm) }}
                    {{ form_errors(skillForm) }}
                    <div class="nameProject">
                        {{ form_widget(skillForm.name, { 'attr': {'class': 'skillName', 'placeholder': 'Nom de la compétence'} }) }}
                        {{ form_errors(skillForm.name) }}
                    </div>
                    <div class="statusProject">
                        {{ form_widget(skillForm.category, { 'attr': {'class': 'skillCategory'} }) }}
                    </div>
                {{ form_end(skillForm) }}
                <div class="clear"></div>
            </div>
            {{ render(controller('AppBundle:Skill:list')) }}
        </div>
    </div>     
    <div class="blockGeneral" id="adminCategory">
        <h2 class="icoCategory">Toutes les catégories</h2>
        <div class="blockContent">
            {% if messageCategory is defined %}
                <span class="message">{{ messageCategory }}</span>
            {% endif %}
            <div id="formCategory">
                <h4>Ajouter une catégorie</h4>
                {{ form_start(categoryForm) }}
                    {{ form_errors(categoryForm) }}
                    <div class="nameProject">
                        {{ form_widget(categoryForm.name, { 'attr': {'class': 'categoryName', 'placeholder': 'Nom de la catégorie'} }) }}
                        {{ form_errors(categoryForm.name) }}
                    </div>
                {{ form_end(categoryForm) }}
                <div class="clear"></div>
            </div> 
            {{ render(controller('AppBundle:Category:list')) }}
        </div>
    </div>
    <div class="blockGeneral" id="adminUser">
        <h2 class="icoUser">Tous les profils</h2>
        <div class="blockContent">
            {% if messageUser is defined %}
                <span class="message">{{ messageUser }}</span>
            {% endif %}
            {% if messageCsv is defined %}
                <span class="message">{{ messageCsv }}</span>
            {% endif %}
            <h4>Ajouter un profil</h4>
            <div class="newUser">
                <a href="{{path('filrouge_user_add')}}" class="btnAction">Nouveau profil</a>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div id="formCsv">
                    <h4>Import de fichier CSV</h4>
                    <form action="{{path('filrouge_admin_user_importCsv')}}" method="POST" enctype="multipart/form-data">
                        <div class="nameProject">
                            <input type="file" name="importcsv" class="fileCsv" required/>
                        </div>
                        <button type="submit" class="btnAction">Importer</button>
                        <div class="clear"></div>
                    </form>
                </div>
            {% endif %}
            <div class="clear"></div>
            {{ render(controller('AppBundle:User:admin')) }}
        </div>
    </div>  
    <div class="blockGeneral" id="adminProject">
        <h2 class="icoProject">Tous les projets</h2>
        <div class="blockContent">
            {% if messageProject is defined %}
                <span class="message">{{ messageProject }}</span>
            {% endif %}
            <h4>Ajouter un projet</h4>
            <div class="newProject">
                <a href=" {{path('filrouge_project_add')}} " class="btnAction">Nouveau projet</a>
            </div>
            <div class="clear"></div>
            {{ render(controller('AppBundle:Project:admin')) }}
        </div>
    </div> 
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            speed: 300
        });
    });
    </script>
{% endblock %}