<div class="collapsible">
    <div class="ico">
        <span></span> 
    </div>
    <div class="name">
        Gérer les projets
    </div>
    <div class="status">
        {{  projects|length }} projet(s) sur le site
    </div>
    <div class="clear"></div>
</div>
<div class="container">
    <div class="content">
        {% for project in projects %}
            <div class="adminContent">
                <div class="adminName">
                    {{ project.name }}
                </div>
                <div class="adminInfo">
                    {% if project.status.name == 'En attente' %}
                        <h5 class="orangeLeft">{{project.status.name}}</h5>
                    {% elseif project.status.name == 'En cours' %}
                        <h5 class="greenLeft">{{project.status.name}}</h5>
                    {% elseif project.status.name == 'Terminé' %}
                        <h5 class="redLeft">{{project.status.name}}</h5>
                    {% endif %}
                </div>
                <div class="adminSee">
                    <a href="{{path('filrouge_project_detail', {'id': project.id })}}">
                        <img alt="Voir le projet" src="{{asset('bundles/app/images/see.png')}}" />
                    </a>
                </div>
                <div class="adminEdit">
                    <a href="{{path('filrouge_project_update', {'id': project.id })}}">
                        <img alt="Modifier le projet" src="{{asset('bundles/app/images/modify.png')}}" />
                    </a>
                </div>
                <div class="adminDelete">
                    <a href="{{path('filrouge_admin_project_remove', {'id': project.id })}}">
                        <img alt="Supprimer le projet" src="{{asset('bundles/app/images/delete.png')}}" />
                    </a>
                </div> 
                <div class="clear"></div>
            </div>
            <div class="clear"></div> 
        {% endfor %}   
    </div>
</div>
