{% extends "AppBundle::layout.html.twig" %}

{% block title %}
	{{ userForm.vars.value.id is null? "Ajout d'un profil" : "Modification du profil" }}
{%endblock title %}

{% block left %}
    <h2> {{ userForm.vars.value.id is null? "Ajout d'un profil" : "Modification du profil" }}</h2>

    {{ form_start(userForm) }}
    
     {{ form_errors(userForm) }}
     
     
        <div>
            <h4>{{ form_label(userForm.lastName, 'Nom') }}</h4>
                {{ form_errors(userForm.lastName) }}
                {{ form_widget(userForm.lastName) }}
        </div>

        <div>
            <h4>{{ form_label(userForm.firstName, 'Prénom') }}</h4>
                {{ form_errors(userForm.firstName) }}
                {{ form_widget(userForm.firstName) }}
       </div>
       
       {# promotions + écoles #}
 {#      
    {% else %} #}
        {% include('AppBundle:User:userHeader.html.twig') %} 
        {{ form_errors(userForm.availability) }}
        {{ form_widget(userForm.availability) }}
   {#  {% endif %} #}
    <div>
        {# {% if(userForm.vars.value.id is null) %}#}
            <h4>{{ form_label(userForm.username, "Login") }}</h4>
                {{ form_errors(userForm.username) }}
                {{ form_widget(userForm.username) }}
       {#  {% endif %} #}
    </div>
    
  
   {# {% if(userForm.vars.value.id is null) %}#}
         <div>
            <h4>{{ form_label(userForm.password, 'Mot de passe') }}</h4>
                {{ form_errors(userForm.password) }}
                {{ form_widget(userForm.password) }}
        </div>
   {# {% endif %}#}
    
    
    <div>
        {# {% if(userForm.vars.value.id is null) %}#}
            <h4>{{ form_label(userForm.birthDate, 'Date de naissance') }}</h4>
                {{ form_errors(userForm.birthDate) }}
                {{ form_widget(userForm.birthDate) }}
       {#  {% else %}
            <h4>Age : {{ user.getAge()|date}}</h4>
        {% endif %}#}
            {{ form_errors(userForm.dispoBirth) }}
            {{ form_widget(userForm.dispoBirth) }}
    </div> 
    
    <div>
        <h4>{{ form_label(userForm.email, 'Email') }}</h4>
            {{ form_errors(userForm.email) }}
            {{ form_widget(userForm.email) }}
        
        {{ form_errors(userForm.dispoEmail) }}
        {{ form_widget(userForm.dispoEmail) }}
    </div>
    
    <div>
        <h4>{{ form_label(userForm.address, 'Adresse postale') }}</h4>
            {{ form_errors(userForm.address) }}
            {{ form_widget(userForm.address) }}

            {{ form_errors(userForm.dispoAddress) }}
            {{ form_widget(userForm.dispoAddress) }}
    </div>
    
    <div>
        <h4>{{ form_label(userForm.postCode, 'Code postal') }}</h4>
            {{ form_errors(userForm.postCode) }}
            {{ form_widget(userForm.postCode) }}
    </div>
    
    <div>
        <h4>{{ form_label(userForm.city, 'Commune') }}</h4>
            {{ form_errors(userForm.city) }}
            {{ form_widget(userForm.city) }}
    </div>
    
    <div>
        <h4>{{ form_label(userForm.phone, 'Téléphone') }}</h4>
            {{ form_errors(userForm.phone) }}
            {{ form_widget(userForm.phone) }}
        
            {{ form_errors(userForm.dispoPhone) }}
            {{ form_widget(userForm.dispoPhone) }}
    </div>
    
    <div>
        <h4>{{ form_label(userForm.description, 'Présentation') }}</h4>
            {{ form_errors(userForm.description) }}
            {{ form_widget(userForm.description) }}
    </div>
   
    <div>
        <h4>{{ form_label(userForm.image.alt, "Description de l'image") }}</h4>
            {{ form_errors(userForm.image.alt) }}
            {{ form_widget(userForm.image.alt) }}
    </div>
    
    <div>
        <h4>{{ form_label(userForm.image.url, "URL de l'image") }}</h4>
            {{ form_errors(userForm.image.url) }}
            {{ form_widget(userForm.image.url) }}
    </div>
    {{ form_end(userForm) }}

           
           
           
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script  type="text/javascript" src="{{ asset('bundles/app/js/promotion-user.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/app/js/skill-user.js') }}"></script>
{% endblock %}

