{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {% if user is defined and user.id is not null %}
        {{parent()}}Gérer mon profil
    {% else %}
        {{parent()}}Nouveau profil
    {% endif%}
{%endblock title %}

{% block breadcrumb %}
    {{parent()}} > 
        <a href="{{path('filrouge_user_list')}}">Profils</a> >
        {% if user is defined and user.id is not null %}
            <a href="{{path('filrouge_user_detail', {'id': user.id } )}}">
                {{user.firstName ~ " " ~ user.lastName}}
            </a> >
            <a href="{{path('filrouge_user_update', {'id': user.id } )}}">
                Gérer mon profil
            </a>
        {% else %}
            <a href="{{path('filrouge_user_add')}}">Nouveau profil</a>
        {% endif%}
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoUser">Profil</h2>
        <div class="blockContent">
            {% if is_granted('ROLE_ADMIN') or app.user == user %} 
                <div class="formUser"> 
                    {{ form_start(userForm) }}
                        <div class="headerFormUser headerBlock">
                            {% if is_granted('ROLE_ADMIN') %} 
                                {{ form_errors(userForm.firstName) }}
                                {{ form_errors(userForm.lastName) }}
                                {{ form_widget(userForm.firstName, { 'attr': {'class': 'firstname', 'placeholder': 'Prénom'} }) }}
                                {{ form_widget(userForm.lastName, { 'attr': {'class': 'lastname', 'placeholder': 'Nom'} }) }}
                            {% else %}
                                {% include('AppBundle:User:userheaderlayout.html.twig')%}
                                {{ form_widget(userForm.firstName, { 'attr': {'class': 'firstname', 'style': 'display:none'} }) }}
                                {{ form_widget(userForm.lastName, { 'attr': {'class': 'lastname', 'style': 'display:none'} }) }} 
                            {% endif %}  
                            {{ form_widget(userForm.availability, { 'attr': {'class': 'availability'} }) }}
                            {{ form_errors(userForm.availability) }}
                            <div class="clear"></div>
                        </div>
                        <div class="birthFormUser containerForm">
                            <div class="fieldForm">
                                <h4>{{ form_label(userForm.birthDate, 'Date de naissance') }}</h4>
                                {{ form_errors(userForm.birthDate) }}
                                {{ form_widget(userForm.birthDate, { 'attr': {'class': 'birthdate'} }) }}
                            </div>
                            {{ form_errors(userForm.dispoBirth) }}
                            {{ form_widget(userForm.dispoBirth, { 'attr': {'class': 'dispoBirthdate  dispo'} }) }}
                        </div> 
                        <div class="emailFormUser containerForm">
                            <div class="fieldForm">
                                <h4>{{ form_label(userForm.email, 'Email') }}</h4>
                                {{ form_errors(userForm.email) }}
                                {{ form_widget(userForm.email, { 'attr': {'class': 'email', 'placeholder': 'Email'} }) }}
                            </div>
                            {{ form_errors(userForm.dispoEmail) }}
                            {{ form_widget(userForm.dispoEmail,  { 'attr': {'class': 'dispoEmail dispo'} }) }}
                        </div>
                        <div class="phoneFormUser containerForm">
                            <div class="fieldForm">
                                <h4>{{ form_label(userForm.phone, 'Téléphone') }}</h4>
                                {{ form_errors(userForm.phone) }}
                                {{ form_widget(userForm.phone,  { 'attr': {'class': 'phone', 'placeholder': 'Téléphone'} }) }}
                            </div>
                            {{ form_errors(userForm.dispoPhone) }}
                            {{ form_widget(userForm.dispoPhone, { 'attr': {'class': 'dispoPhone  dispo'} }) }}
                        </div>        
                        <div class="addressFormUser containerForm">
                            <div class="fieldForm">
                                <h4>Adresse Postale</h4>
                                {{ form_errors(userForm.address) }}
                                {{ form_errors(userForm.postCode) }}
                                {{ form_errors(userForm.city) }}
                                {{ form_widget(userForm.address, { 'attr': {'class': 'address', 'placeholder': 'Adresse'} }) }}
                                {{ form_widget(userForm.postCode, { 'attr': {'class': 'postcode', 'placeholder': 'Code Postal'} }) }}
                                {{ form_widget(userForm.city, { 'attr': {'class': 'city', 'placeholder': 'Ville'} }) }}      
                                <div class="clear"></div>
                            </div>
                            {{ form_errors(userForm.dispoAddress) }}
                            {{ form_widget(userForm.dispoAddress, { 'attr': {'class': 'dispoAddress  dispo'} }) }}
                        </div>                  
                        <div class="clear"></div>
                        {% if is_granted('ROLE_ADMIN') %} 
                            <h4>{{ form_label(userForm.username, "Login") }}</h4>
                            {{ form_errors(userForm.username) }}
                            {{ form_widget(userForm.username, { 'attr': {'class': 'username', 'placeholder': 'prénom.promo'} }) }}

                            <h4>{{ form_label(userForm.password, 'Mot de passe') }}</h4>
                            {{ form_errors(userForm.password) }}
                            {{ form_widget(userForm.password, { 'attr': {'class': 'password', 'placeholder': '20 caractères maximum'} }) }}
                        {% else %}
                            {{ form_widget(userForm.username, { 'attr': {'class': 'username', 'style': 'display:none'} }) }}
                            {{ form_widget(userForm.password, { 'attr': {'class': 'password', 'style': 'display:none'} }) }}
                        {% endif %}
                        <h4>{{ form_label(userForm.promotions, "Promotions") }}</h4>
                        <div class="promotionContainer">
                            {{ form_widget(userForm.promotions) }}
                        </div>
                        <h4>{{ form_label(userForm.UserSkills, "Compétences") }}</h4>
                        <div class="userSkillContainer">
                            {{ form_widget(userForm.UserSkills) }}
                        </div>
                        <h4>{{ form_label(userForm.description, 'Présentation') }}</h4>
                        {{ form_errors(userForm.description) }}
                        {{ form_widget(userForm.description, { 'attr': {'class': 'description'} }) }}
                        <h4>{{ form_label(userForm.image.alt, "Description de l'image") }}</h4>
                        {{ form_errors(userForm.image.alt) }}
                        {% if user.image is null %}
                            {{ form_widget(userForm.image.alt, { 'attr': {'class': 'altImage', 'value': 'Image du profil' } }) }}
                        {% else %}
                            {{ form_widget(userForm.image.alt, { 'attr': {'class': 'altImage'} }) }}
                        {% endif %}
                        <h4>{{ form_label(userForm.image.url, "URL de l'image") }}</h4>
                        {{ form_errors(userForm.image.url) }}
                        {% if user.image is null %}
                            {{ form_widget(userForm.image.url, { 'attr': {'class': 'urlImage', 'value': 'bundles/app/images/avatar.png' } }) }}
                        {% else %}
                            {{ form_widget(userForm.image.url, { 'attr': {'class': 'urlImage'} }) }}
                        {% endif %}
                    {{ form_end(userForm) }}
                    <div class="clear"></div>
                </div>
                <h4>Projets en cours</h4>   
                {% include('AppBundle:User:userprojectlayout.html.twig')%}
                <h4>Projets terminés</h4>  
                {% include('AppBundle:User:userprojectfinishlayout.html.twig')%}
            {% else %}
                <h4>Vous ne possédez pas les droits suffisants pour modifier ce profil.</h4>
            {% endif %}
        </div>    
    </div>                         
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script  type="text/javascript" src="{{ asset('bundles/app/js/promotion-user.js') }}"></script>
    <script  type="text/javascript" src="{{ asset('bundles/app/js/skill-user.js') }}"></script>
{% endblock %}

