{% extends "AppBundle::Layout.html.twig" %}

{% block title %}
   {{parent()}}{{user.lastName|upper}} {{user.firstName}}
{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > 
        <a href="{{path('filrouge_user_list')}}">Profils</a> >
        <a href="{{path('filrouge_user_detail', {'id': user.id } )}}">
            {{user.lastName|upper}} {{user.firstName}}
        </a>
{% endblock breadcrumb %}

{% block left %} 
    <div class="blockGeneral" id="oneProfile">
        <h2 class="icoUser">Profil</h2>
        <div class="userUpdate">
            {% if app.user.id == user.id %} 
                <a href=" {{path('filrouge_user_update', {'id': user.id } )}} " class="btnAction">
                    modifier mon profil
                </a>
            {% endif %}
        </div>
        <div class="clear"></div>
        <div class="blockContent">
            <div class="headerBlock">
                {% include('AppBundle:User:userheaderlayout.html.twig')%}
                <div class="status">
                    {% if user.availability %}
                        <h5 class="greenRightUser">Disponible</h5>
                    {% else %}
                        <h5 class="redRightUser">Indisponible</h5>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="bodyBlock">
                <div class="leftProfil">
                    {% if user.dispoBirth %}
                        <h4>Age</h4>
                        {{ age }} ans
                    {% endif %}   
                    {% if user.dispoEmail %}
                       <h4>Email</h4>
                       {{ user.email }}
                    {% endif %}
                    {% if user.dispoPhone %}
                       <h4>Téléphone</h4> 
                       {{ user.phone }}
                    {% endif %}                 
                    {% if user.dispoAddress %}
                        <h4>Adresse Postale</h4>
                        {{ user.address }}<br/>
                        {{ user.postCode ~ " " ~ user.city }}
                    {% endif %}
                    {% include('AppBundle:User:userskilllayout.html.twig') %}   
                    {% if (user.description|length !=0) %}
                        <h4>Présentation</h4>
                        {{ user.description }}
                    {% endif %}
                    <h4>Projets en cours</h4>
                    {% include('AppBundle:User:userprojectlayout.html.twig')%}
                </div>
                <div class="imageProfil">
                    {% if user.image %}
                        <img src="{{asset(user.image.url)}}" alt="{{user.image.alt}} " width="150" />
                    {% endif %}
                </div>
                <div class="clear"></div> 
                {% if app.user.managesProjects|length!=0 and app.user.id != user.id and user.availability %}
                    <div id="formUserInvite">
                        <h4>Inviter ce profil à rejoindre mon projet</h4>
                        <form action="{{ path('filrouge_user_invite', {'id': user.id }) }}#formUserInvite" method="POST">              
                            <label for="idProject">Choisir le projet</label>
                            <select id="idProject" name="idProject">
                                {% for project in app.user.managesProjects %}
                                    <option value="{{project.id}}">{{project.name}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btnAction">inviter</button>
                        </form>
                        <div class="clear"></div>
                        {% if  message is defined %}
                            <span class="invite">Votre invitation a bien été envoyée.</span>
                        {% endif %}     
                    </div>  
                {% endif %}    
            </div>
        </div>
        {% if user.availability and app.user.id != user.id %}     
            <div id="contactUser">
                <h4>Contacter {{ user.lastName|upper }} {{user.firstName }}</h4>
                <div class="contentContactUser">
                    {% if messageMail is defined %}
                        <span class="message">{{ messageMail }}</span>
                    {% endif %}
                    <div class="formContact">
                        <form action="{{ path('filrouge_user_sendMail', {'id': user.id }) }}#contactUser" method="POST">              
                            <h4><label for="title">Objet du message</label></h4>
                            <input type="text" id="title" name="title" required>
                            <h4><label for="message">Message</label></h4>
                            <textarea id="message" name="message" required></textarea>
                            <button type="submit" class="btnAction">envoyer</button>
                        </form>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock left %}
