{% if (user.worksOnProjects|length!=0) %}
    <table class="projectsMember addOrModify">
        <tr>
            <th>Projet</th>
            <th>Compétence</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>
            {% for project in user.managesProjects %}                                    
                <tr>
                    <td> 
                        <a href=" {{path('filrouge_project_detail', {'id': project.id } )}}" class="hrefBody">
                            {{ project.name }}
                        </a>
                    </td>
                    <td> Chef de projet </td>
                    <td> {{ project.startDate|date('d/m/Y') }} </td>
                    <td> {{ project.endDate|date('d/m/Y') }} </td>
                </tr>
            {% endfor %}
            {% for worksOnProject in user.worksOnProjects %}
                {% if worksOnProject.active == 1 %}                                    
                    <tr>
                        <td>
                            <a href=" {{path('filrouge_project_detail', {'id': worksOnProject.project.id } )}}" class="hrefBody">
                                {{ worksOnProject.project.name }}
                            </a>
                        </td>
                        <td>{{ worksOnProject.skill.name }}</td>
                        <td>{{ worksOnProject.project.startDate|date('d/m/Y') }}</td>
                        <td>{{ worksOnProject.project.endDate|date('d/m/Y') }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
    </table>
{% else %}
    {% if app.user.id == user.id %}
        <p>Vous n'avez aucun projet en cours.</p>
    {% else %}  
        <p>Ce profil n'a aucun projet en cours.</p>
    {% endif %} 
{% endif %}
