{% extends "AppBundle::layout.html.twig" %}


{% block title %}
       Tous les profils
{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > <a href="{{path('filrouge_user_list')}}">Profils</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoSearch">Rechercher un profil</h2>
        <div class="blockContent">
            <div class="formSearchUser">
                <form action="#" method="POST"> 
                    <p>
                        <label for="nameUser">Nom du profil</label>
                        <input type="text" id="nameUser" name="nameUser" placeholder="Entrer le nom du profil">
                    </p>
                    <p>
                        <label for="statusUser">Statut</label>
                        <select id="statusUser" name="statusUser">
                            <option value="yes">Disponnible</option>
                            <option value="no">Indisponnible</option>
                        </select>
                    </p>
                    <p>
                        <label for="skillUser1">Compétences</label>
                        <select id="skillUser1" name="skillUser1">
                            <option value="none" selected>aucune</option>
                            {% for skill in skills %}
                                <option value="{{skill.name}}">{{skill.name}}</option>
                            {% endfor %}
                        </select>
                        <select id="skillUser2" name="skillUser2">
                            <option value="none" selected>aucune</option>
                            {% for skill in skills %}  
                                <option value="{{skill.name}}">{{skill.name}}</option>
                            {% endfor %}
                        </select>
                        <select id="skillUser3" name="skillUser3">
                            <option value="none" selected>aucune</option>
                            {% for skill in skills %}
                                <option value="{{skill.name}}">{{skill.name}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <button type="submit" class="btnAction">> rechercher</button>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
    <div class="blockGeneral">
        <h2 class="icoProject">Tous les Profils</h2>
        <div class="blockContent">
                {% for user in users %}
                    {% include('AppBundle:User:userlayout.html.twig') %}
                {% endfor %}
            <div class="pagination">
                {% if users |length != 0 %}
                    {% include 'AppBundle::pagination.html.twig' %}
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
   
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            defaultOpen: 'section1',
            speed: 300
        });
    });
    </script>
{% endblock %}