{% extends "AppBundle::Layout.html.twig" %}

{% block title %}
   Profil de {{ " " ~ user.firstName ~ " " ~ user.lastName }}
{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > 
        <a href="{{path('filrouge_user_list')}}">Profils</a> >
        <a href="{{path('filrouge_user_detail', {'id': user.id } )}}">{{user.firstName ~ " " ~ user.lastName}}</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoUser">Profil</h2>
        <div class="blockContent">
            <div class="headerBlock">
                <div class="name">
                    <h3>{% include('AppBundle:User:userHeader.html.twig')%}</h3>
                </div>
                <div class="status">
                    {% if user.availability == true %}
                        Disponible
                        <img alt="Voir plus d'informations" src="{{asset('bundles/app/images/status_green.png')}}" />
                       
                    {% elseif user.availability == false %}
                        Indisponible
                        <img alt="Voir plus d'informations" src="{{asset('bundles/app/images/status_red.png')}}" />
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="bodyBlock"> 
                
                {% if user.dispoBirth == true %}
                    <h4> Age </h4>{{ user.getAge()|date  }}
                {% endif %}   

                {% if user.dispoEmail == true %}
                   <h4> Email </h4>{{ user.email }}
                {% endif %}

                {% if user.dispoPhone == true %}
                   <h4>Téléphone </h4> {{ user.phone }}
                {% endif %}
                 
                {% if user.dispoAddress == true %}
                <h4>Adresse Postale <h4>
                 <ul>
                     <li>{{ user.address }}</li>
                     <li>{{ user.postCode ~ " " ~ user.city }}</li>
                 </ul>
                {% endif %}
                <div>
                    {% if user.image %}
                        <img src="{{asset(user.image.url)}}" alt="{{user.image.alt}} " />
                    {% endif %}
                </div>
                {% if (user.userSkills|length !=0) %}
                   {% for userSkill in user.userSkills %} {{userSkill.skill.name ~ ' - ' ~ userSkill.level}} {% endfor %}
                {% endif %}
                 
                {% if (user.description|length !=0) %}
                    <h4>Présentation </h4>{{ user.description }}
                {% endif %}
                 
                {% if (user.worksOnProjects|length!=0) %}
                    <table>
                        <tr>
                            <th> Projet </th>
                            <th> Compétence </th>
                            <th> Date de début </th>
                            <th> Date de fin </th>
                        </tr>

                          {% for worksOnProject in user.worksOnProjects %} 
                              <tr>
                                <td> {{ worksOnProject.project.name }} </td>
                                <td> {{ worksOnProject.skill }} </td>
                                <td> {{ worksOnProject.project.startDate|date }} </td>
                                <td> {{ worksOnProject.project.endDate|date }} </td>
                              </tr>
                          {% endfor %}
                    </table>
                {% endif %}
                
                <form>
                    <fieldset>
                        <legend><h4> Envoyer un message </h4></legend>
                            <label for="objet"> Objet </label>
                            <input id ="objet" type="text" value="objet">
                            <label for="message"> Message </label>
                            <textarea id ="message" type="text" value="message"></textarea>
                    </fieldset>
                </form>
                
                <div>
                    <a href="{{path('filrouge_user_detail')}}"> {# /!\ ROUTE A MODIFIER #}
                       <button> Inviter à rejoindre un projet </button>
                    </a>
                </div>
                       
                <div>
                    <form>
                        <label for="projet"> Projet </label>
                        <select>
                            <option value="1"> 1 </option>
                            <option value="2"> 2 </option>
                            <option value="3"> 3 </option>
                        </select>
                    </form>
                     <a href="{{path('filrouge_user_detail')}}"> {# /!\ ROUTE A MODIFIER #}
                        <button> Inviter </button>
                    </a>
                </div>
                        
    <div class="userUpdate">
       <a href=" {{path('filrouge_user_update', {'id': user.id } )}} " class="btnAction">> Modifier mon profil</a>
    </div>
       </div>
        </div>   
    </div>
{% endblock left %}
