{% extends "AppBundle::Layout.html.twig" %}

{% block title %}
	Profil de {{ " " ~ user.firstName ~ " " ~ user.lastName }}
{%endblock title %}

	

{% block left %}
    <h1> Profil de {{ " " ~ user.firstName ~ " " ~ user.lastName }} </h1>

        <ul>   
          {% include('AppBundle:User:userHeader.html.twig') ~ {{ user.availability ? 'Disponible' : 'Indisponible' }} %}
           
        {% if user.dispoBirth == true %}
             <li> Age : {{ user.getAge()|date  }} </li> 
        {% endif %}   
        
        {% if user.dispoEmail == true %}
             <li> Email : {{ user.email }} </li> 
        {% endif %}
        
        {% if user.dispoPhone == true %}
             <li> Téléphone : {{ user.phone }} </li> 
        {% endif %}
         
        {% if user.dispoAddress == true %}
             <li> Adresse Postale 
                 <ul>
                     <li>{{ user.address }}</li>
                     <li>{{ user.postCode ~ " " ~ user.city }}</li>
                 </ul>
            </li> 
        {% endif %}
        
        {% if user.image %}
            <img src="{{asset(user.image.url)}}" alt="{{user.image.alt}} " />
        {% endif %}
        
            <li>
                {% if (user.userSkills|length !=0) %}
                   {% for userSkill in user.userSkills %} {{userSkill.skill.name ~ ' - ' ~ userSkill.level}} {% endfor %}
                {% else %}
                    {{ "Incompétent(e)!" }}  
                {% endif %}
            </li>
            
             <li>
                {% if (user.description|length !=0) %}
                  Présentation <br/> {{ user.description }}
                {% endif %}
            </li>
            
             <li>
                {% if (user.worksOnProjects|length!=0) %}
                    <table>
                        <tr>
                            <th> Projet </th>
                            <th> Compétence </th>
                            <th> Date de début </th>
                            <th> Date de fin </th>
                        </tr>

                          {% for worksOnProject in user.worksOnProjects %} 
                              <tr>
                                <td> {{ worksOnProject.project.name }} </td>
                                <td> {{ worksOnProject.skill }} </td>
                                <td> {{ worksOnProject.project.startDate|date }} </td>
                                <td> {{ worksOnProject.project.endDate|date }} </td>
                              </tr>
                          {% endfor %}
                    </table>
                        {% endif %}
            </li>
            
            <li>
                 
                <form>
                    <fieldset>
                        <legend> Envoyer un message </legend>
                            <label for="objet"> Objet </label>
                            <input id ="objet" type="text" value="objet">
                            <label for="message"> Message </label>
                            <textarea id ="message" type="text" value="message"></textarea>
                    </fieldset>
                </form>
            </li>
            
            <li>
                <a href="{{path('filrouge_user_detail')}}"> {# /!\ ROUTE A MODIFIER #}
                    <button> Inviter à rejoindre un projet </button>
                </a>
            </li>
            
            <li>
                <form>
                    <label for="projet"> Projet </label>
                    <select>
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                    </select>
                </form>
                 <a href="{{path('filrouge_user_detail')}}"> {# /!\ ROUTE A MODIFIER #}
                    <button> Inviter </button>
                </a>
            </li>
         
        </ul> 
         
           
           
           
{% endblock left %}
	