<div class="collapsible" id="section{{loop.index}}">
    <div class="ico">
        <span></span>
    </div>
    {% include('AppBundle:User:userheaderlayout.html.twig') %}
    <div class="status">
        {% if user.availability == true %}
            Disponible
            <img alt="Disponible" src="{{asset('bundles/app/images/status_green.png')}}" />
        {% elseif user.availability == false %}
            Indisponible
            <img alt="Indisponible" src="{{asset('bundles/app/images/status_red.png')}}" />
        {% endif %}
    </div>
    <div class="clear"></div>
</div>

<div class="container">
    <div class="content">
        <div class="bodyBlock">
            {% include('AppBundle:User:userskilllayout.html.twig') %}  
            <div>
                <h4> Nombre de projets en cours : {{ user.worksOnProjects|length }}</h4>
            </div>
            <div class="btnLeft">
                {% if app.user.id == user.id %} 
                    <a href=" {{path('filrouge_user_update', {'id': user.id } )}} " class="btnAction userUpdate" >Modifier mon profil</a> 
                {% else %}
                    <a href=" {{path('filrouge_user_detail', {'id': user.id } )}} " class="btnAction userSeeMore">Voir le profil</a>
                {% endif %}     
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
