{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{parent()}}Profils
{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > <a href="{{path('filrouge_user_list')}}">Profils</a>
{% endblock breadcrumb %}

{% block left %}  
    <div class="blockGeneral">
        <h2 class="icoSearch">Rechercher un profil</h2>
        <div class="blockContent">
            <div id="formSearchUser">
                <form action="{{ path('filrouge_user_search') }}" method="POST"> 
                    <p>
                        <label for="nameUser">Nom du profil</label>
                        <input type="text" id="nameUser" name="nameUser" placeholder="Entrer le nom du profil recherché"/>
                    </p>
                    <p>
                        <label for="skillUser1">Compétences</label>
                        <select id="skillUser1" name="skillUser1">
                            <option value="none" selected>aucune</option>
                            {% for skill in skills %}
                                <option value="{{skill.name}}">{{skill.name}}</option>
                            {% endfor %}
                        </select>
                        <select id="skillUser2" name="skillUser2">
                            <option value="none" selected>aucune</option>
                            {% for skill in skills %}  
                                <option value="{{skill.name}}">{{skill.name}}</option>
                            {% endfor %}
                        </select>
                        <select id="skillUser3" name="skillUser3">
                            <option value="none" selected>aucune</option>
                            {% for skill in skills %}
                                <option value="{{skill.name}}">{{skill.name}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="statusUser">Disponible</label>
                        <input type="checkbox" name="statusUser" value="yes" id="statusUser" />
                    <p>
                    <button type="submit" class="btnAction">rechercher</button>
                </form>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="blockGeneral">
        <h2 class="icoUser">Tous les Profils</h2>
        <div class="blockContent">
            {% if users|length == 0 %}
                <h4>Aucun profil</h4>
            {% else %}    
                {% for user in users %}
                    {% include('AppBundle:User:userlayout.html.twig') %}
                {% endfor %}
                {% if pagination is defined %}
                    <div class="pagination">
                        {% if users |length != 0 %}
                            {% include 'AppBundle::pagination.html.twig' %}
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>  
{% endblock left %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            defaultOpen: 'section1',
            speed: 300
        });
    });
    </script>
{% endblock %}