{% extends "AppBundle::Layout.html.twig" %}

{% block title %}
   Profil de {{ " " ~ user.firstName ~ " " ~ user.lastName }}
{% endblock title %}

{% block breadcrumb %}
    {{parent()}} > 
        <a href="{{path('filrouge_user_list')}}">Profils</a> >
        <a href="{{path('filrouge_user_detail', {'id': user.id } )}}">{{user.firstName ~ " " ~ user.lastName}}</a>
{% endblock breadcrumb %}

{% block left %}
    
    <div class="blockGeneral">
        <h2 class="icoUser">Profil</h2>
        <div class="blockContent">
            <div class="headerBlock">
                {% include('AppBundle:User:userheaderlayout.html.twig')%}
                <div class="status">
                    {% if user.availability == true %}
                        <h5 class="greenRightUser">Disponnible</h5>
                    {% elseif user.availability == false %}
                        <h5 class="redRightUser">Indisponnible</h5>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="bodyBlock">
                <div class="leftProfil">
                    {% if user.dispoBirth == true %}
                        <h4>Age</h4>
                        {{ age }} ans
                    {% endif %}   
                    {% if user.dispoEmail == true %}
                       <h4>Email</h4>
                       {{ user.email }}
                    {% endif %}
                    {% if user.dispoPhone == true %}
                       <h4>Téléphone</h4> 
                       {{ user.phone }}
                    {% endif %}                 
                    {% if user.dispoAddress == true %}
                        <h4>Adresse Postale</h4>
                        {{ user.address }}<br/>
                        {{ user.postCode ~ " " ~ user.city }}
                    {% endif %}
                    {% include('AppBundle:User:userskilllayout.html.twig') %}  
                    
                    {% if (user.description|length !=0) %}
                        <h4>Présentation</h4>
                        {{ user.description }}
                    {% endif %}
                    
                    {% if (user.worksOnProjects|length!=0) %}
                        <h4>Projets en cours</h4>
                        <table class="projectsMember">
                            <tr>
                                <th>Projet</th>
                                <th>Compétence</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                            </tr>
                                {% for project in user.managesProjects %}                                    
                                    <tr>
                                        <td> <a href=" {{path('filrouge_project_detail', {'id': project.id } )}}" class="hrefBody">{{ project.name }}</a> </td>
                                        <td> Chef de projet </td>
                                        <td> {{ project.startDate|date('d/m/Y') }} </td>
                                        <td> {{ project.endDate|date('d/m/Y') }} </td>
                                    </tr>
                                {% endfor %}
                                {% for worksOnProject in user.worksOnProjects %}
                                    {% if worksOnProject.active == 1 %}                                    
                                        <tr>
                                            <td> <a href=" {{path('filrouge_project_detail', {'id': worksOnProject.project.id } )}}" class="hrefBody">{{ worksOnProject.project.name }}</a> </td>
                                            <td> {{ worksOnProject.skill }} </td>
                                            <td> {{ worksOnProject.project.startDate|date('d/m/Y') }} </td>
                                            <td> {{ worksOnProject.project.endDate|date('d/m/Y') }} </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                        </table>
                    {% else %}
                        <h4>Aucun projet en cours</h4>
                    {% endif %}
                </div>
                <div class="imageProfil">
                    {% if user.image %}
                        <img src="{{asset(user.image.url)}}" alt="{{user.image.alt}} " width="200px" height="200px" />
                    {% endif %}
                </div>
                <div class="clear"></div> 
                {% if app.user.managesProjects|length!=0 and app.user.id != user.id %}
                    <div id="formUserInvite">
                        <h4>Inviter ce profil à rejoindre mon projet</h4>
                        <form action="{{ path('filrouge_user_invite', {'id': user.id }) }}" method="POST">              
                            <label for="idProject">Choisir le projet</label>
                            <select id="idProject" name="idProject">
                                {% for project in app.user.managesProjects %}
                                    <option value="{{project.id}}">{{project.name}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btnAction">> inviter</button>
                        </form>
                        <div class="clear"></div>
                        {% if  message is defined %}
                            <span class="invite">Votre invitation a bien été envoyée.</span>
                        {% endif %}     
                    </div>  
                {% endif %}    
            </div>
        </div>   
    </div>
    <div class="userUpdate">
        {% if app.user.id == user.id %} 
            <a href=" {{path('filrouge_user_update', {'id': user.id } )}} " class="btnAction">> Modifier mon profil</a>
        {% endif %}
    </div>
{% endblock left %}
